<mat-toolbar-row color="background">
<div id="logo">
  <div class="left" ></div>
  <div class="right" ></div>
  <div class="mat-display-1 letter">RevTech</div>
</div>
</mat-toolbar-row>
<!-- <img src="https://i.postimg.cc/xdm3qnyD/Picture1.png" scale="0" width="10%"> -->
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->

<mat-toolbar class="navbar" color="primary">
  <div>
    <button mat-button routerLink="product">Store</button>
  </div>
  <div *ngIf="isLogged()">
    <button mat-button routerLink="profile">Profile</button>
  </div>
  <div *ngIf="isLogged()">
    <button mat-button routerLink="order-history">Orders</button>
  </div>
  <div *ngIf="isLogged() && isShowAdmin()">
    <button mat-button routerLink="admin">Manage Store</button>
  </div>
  <span *ngIf="!isLogged()" style="float:right">
    <button mat-button routerLink="login">Sign In</button>
  </span>
  <span *ngIf="isLogged()" style="float:right">
    <button mat-button (click)="logout()">Logout</button>
  </span>
  <span *ngIf="isLogged()" style="float:right">
    <button mat-button id="profile" *ngIf="isLogged()" onclick="return false">Hello, {{first_name}}</button>
  </span>
  <span style="float:right">
    <button mat-icon-button color="accent" aria-label="route to shopping cart" routerLink="checkout">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </span>
</mat-toolbar>