
#logo {
  position:relative;
  //margin: auto;
  display: block;
  width: 100px;
  //right: 40%;
  
  margin-top: 2%;
	padding-top: 5%;
  z-index: -2;
  background: grey;
}
.letter{
  //font-family: 'Roboto', sans-serif;
  font-weight: 550;
	position: relative;
	color: black;
  text-align: center;
  bottom: 10px;
	//display: block;
	//margin: auto;

}
.right{
  position: absolute;
	top: 10px;
	right:20px;
	width: 60px;
	height: 60px;
  background: red;
  z-index: -1;
  clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 95% 80%, 100% 25%);
}

.left{
  position: absolute;
	top: 10px;
	left: 20px;
	width: 60px;
	height: 60px;
  background: red;
  z-index: -1;
  clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 5% 80%, 0 25%);
}

.navbar{
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
