
#logo {
  position:relative;
  //margin: auto;
  display: block;
  width: 160px;
  //right: 40%;
  
  margin-top: 60px;
  margin-bottom: 0px;
	padding-top: 25px;
  z-index: -2;
  background: none;
}
.letter{
  //font-family: 'Roboto', sans-serif;
  font-weight: 550;
	position: relative;
	color: black;
  text-align: center;
  vertical-align: middle;
  bottom: 6px;
  z-index: 2;
	//display: block;
	//margin: auto;

}
.right{
  position: absolute;
	top: 5px;
	right:4px;
	width: 150px;
	height: 60px;
  background: grey;
  z-index: 1;
  clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 90% 85%, 100% 25%);
}

.left{
  position: absolute;
	top: 5px;
	left: 6px;
	width: 150px;
	height: 60px;
  background: #909090;
  z-index: 1;
  clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 10% 85%, 0 25%);
}

.navbar{
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}