<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>

<ul>
    <li class="nav-item"><button mat-button (click)="loadCharts()">Month</button></li>
    <li class="nav-item"><button mat-button>Quarter</button></li>
    <li class="nav-item"><button mat-button>Year</button></li>
</ul>

<mat-card id="divChart">
    <div >
        <canvas id="myChart"></canvas>
    </div>
</mat-card>

<mat-card id="divChart">
    <div  >
        <canvas id="myChart2"></canvas>
    </div>
</mat-card>
<mat-card id="divChart">
    <div  >
        <canvas id="myChart3"></canvas>
    </div>
</mat-card>


