<div class = "body">
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
        </div>
        <br>
        <div class="col-md-6">
            <h2><strong>User Information</strong></h2><br>
                <table class="table-user-information">
                    <tbody>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    ID #:
                                </strong>
                                &nbsp;&nbsp;&nbsp;{{currentUser.user_id}}
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>
                                    First Name:
                                </strong>
                            </td>
                                &nbsp;&nbsp;&nbsp;{{currentUser.first_name}}
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>
                                    Last Name:
                                </strong>
                            </td>
                            &nbsp;&nbsp;&nbsp;{{currentUser.last_name}}
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                    Username:
                                </strong>
                            </td>
                            &nbsp;&nbsp;&nbsp;{{currentUser.username}}
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                                    Email:
                                </strong>
                            </td>
                            &nbsp;&nbsp;&nbsp;{{currentUser.email}}
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                                    Address:
                                </strong>
                            </td>
                            &nbsp;&nbsp;&nbsp;{{currentUser.address}}
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                                    Contact:
                                </strong>
                            </td>
                            &nbsp;&nbsp;&nbsp;{{currentUser.contact}}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
