<section id="Checkout" class="Checkout">

  <div class="container">

    <h3>Order History</h3>

    <div class="row">
      <div class="col-lg-8 entries">

        <div class="entry" *ngFor="let order of userOrder">
          <div class="entry-details  d-flex flex-row">
            <!-- <div class="d-flex flex-column my-cloumn1">
              <div class="entry-img">
                <img [src]="item.product.imageUrl" width=300px height=" auto " class="img-fluid ">
              </div>
            </div> -->
            <!-- {{loadtId(order.cartId)}} -->
            <div class="my-cloumn2 d-flex flex-column align-items-start ">
            <h5 class="entry-title "><b>Order number:</b></h5>
              <h1>#000{{order.cartId}}</h1>
            </div>
            <div class="entry-item-cost d-flex flex-column align-item-end my-cloumn3 active ">
              <a (click)="preview($event)" class="topnav" id="{{order.cartId}}" class="btn btn-danger btn-lg text-right" style="color: white; ">Order Details</a> 
              <!-- <div class="d-flex flex-row align-items-start">
                <h4>Order confirmation number: {{order.cartTotal}}</h4>
              </div> -->
              <br>
              <h1 class="d-flex flex-row item-sale-price align-items-end ml-auto ">
                Order total: ${{order.cartTotal}}
              </h1>
            </div>
          </div>
        </div>
        <!-- End Checkout entry -->
      </div>
      <!-- ---------------------------------------------------------------------------------------- -->
      <!-- End Checkout sidebar -->
    </div>
  </div>
</section>
<!-- End Checkout Section -->
