<ul>
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/admin-sales">Monthly</a></li>
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/quarterly-sales">Quarterly</a></li>
<!--<li class="nav-item"><button mat-button>Year</button></li>-->
</ul>

<mat-card id="divChart">
    <div  class="card">
        <canvas id="myChart3"></canvas>
    </div>
</mat-card>
<mat-card id="divChart">
    <div  class="card">
        <canvas id="myChart4"></canvas>
    </div>
</mat-card>
